In [41]:
import pandas as pd
import mysql.connector

## Cargar Precios

In [42]:
def BuscarQuery(consulta:str):
    conexion = mysql.connector.connect(
    host = '127.0.0.1',
    user = 'prueba',
    password = '1234',
    database = 'precios')

    cursor = conexion.cursor()

    cursor.execute(consulta)

    resultado = cursor.fetchall()

    conexion.close()
    return resultado

In [43]:
query = "SELECT PR.PRECIO FROM PRECIO AS PR"

resultado = BuscarQuery(query)

resultado

[(12.5479,), (4.87892,), (1.452,)]

In [44]:
df = pd.DataFrame(resultado, columns=['FACTURACION'])

#Para que se muestren todos los decimales
pd.options.display.float_format = None

#### Antes de la conversi√≥n

In [45]:
df

   FACTURACION
0     12.54790
1      4.87892
2      1.45200

#### Despues de la convesion

In [46]:
df['FACTURACION'] = df['FACTURACION'].map('{:.4f}'.format).str.replace('.', ',', regex=True)
df

C:\Users\carlo\AppData\Local\Temp\ipykernel_26548\3315681463.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['FACTURACION'] = df['FACTURACION'].map('{:.4f}'.format).str.replace('.', ',')

  FACTURACION
0     12,5479
1      4,8789
2      1,4520

#### Guardar excel

In [47]:
df.to_excel("./archivo.xlsx", index=False)